services:
  db:
    container_name: db_mongo
    image: mongo:6.0
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: product_service
    ports:
      - 27017:27017
    volumes:
      - db:/data/db

volumes:
  db: {}